.DS_Store
.classpath
.project
.idea
.settings
*.sw*
*.pyc
*.class
# potential log files
*.log
*.iml

arms/bin/enable_autocomplete
arms/bin/build_features
arms/bin/build_features_complete
arms/bin/import
arms/features/test
arms/features/cleanup_build_folder
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/locking
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/requirements
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/common
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/mysql_connection_pooling
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/comment_handling
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/random
arms/features/hosted_agents_connect_to_db_and_execute_tasks/lib/process_tracking
arms/features/execute
arms/features/execution_wrapper
arms/lib/locking
arms/lib/requirements
arms/lib/rsync_shortcuts
arms/lib/common
arms/lib/ansi_codes
arms/lib/bash_templates
arms/lib/mysql_connection_pooling
arms/lib/comment_handling
arms/lib/random
arms/lib/system_identification
arms/lib/process_tracking
arms/lib/logging
